.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    .left-side {
        display: flex;
    }

    // Had to modify Jordan's code for the nav link styles as his code from the guide resulted in double bottom borders during having a link active and hovering
    .nav-link-wrapper {
        height: 22px;
        border-bottom: 1px solid transparent;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 0.9rem;

        a {
            color: $grey;
            text-decoration: none;
            transition: 0.5s ease-in-out;
            &:hover {
                color: black;
                border-bottom: 1px solid black;
            }
        }

        .nav-link-active {
            border-bottom: 1px solid black;
            color: black;
        }
    }
}

